.speech{
    color:black;
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.song{
    font-size: 22px;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    
.direction{
    font: size 20px;
    color:black;
    background-color: rgb(218, 178, 232);}

.name{
    font-size: 18px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;}

.ALL{
    font-size: 18px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}

.direction:hover{
    color:rgb(34, 220, 56);
    background-color:
    rgb(125, 172, 208);}

table{
    border-style: solid;
}
th, td {
    border: 1px solid black;
  }
th {
   color:rgb(220, 60, 130);
      }
      td{
        color:rgb(9, 97, 141);
      }
       tr:nth-child(even) {
        background-color:rgb(193, 171, 225);
      }
      td {
        text-align: center;
        }
        h,td {
            width: 120px;
            padding:1px 1px 1px 1px;
            margin: -28px 0px -10px 100px;
            background: lightblue;
            border-top: 2px solid rgb(89, 75, 75);
            border-right: 4px dashed rgb(154, 98, 98);
            border-bottom: 8px double rgb(179, 179, 121);
            border-left: 16px inset purple;
         }
         h2{
            text-shadow: 0 0 4px rgb(88, 5, 73);
        }
        h2:hover{
            background-color: rgba(153, 50, 204, 0.333);
        }
        .material-icons{
            font: size 10px;
            color:rgba(52, 49, 222, 0.592);
        }
        
        ul {
            list-style-type: none;
            margin: 3px;
            padding: 3 px;
            overflow: hidden;
            background-color: rgb(148, 168, 211);
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: rgb(232, 226, 226);
            text-align: center;
            padding: 13px 16px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color:rgb(87, 183, 35);
          }