.speech{
    color:black;
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.song{
    font-size: 22px;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    
.direction{
    font: size 20px;
    color:black;
    background-color: rgb(218, 178, 232);}

.name{
    font-size: 18px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;}

.ALL{
    font-size: 18px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}

.direction:hover{
    color:rgb(34, 220, 56);
    background-color:
    rgb(125, 172, 208);}